# original: https://github.com/kr8457/MicroMouse-Simulator/blob/main/.pre-commit-config.yaml

fail_fast: false
repos:
  - repo: local
    hooks:
      - id: enable-testing
        name: Enable testing configuration
        entry: cmake
        language: system
        args: [-B build, -DBUILD_TESTING=ON]
        pass_filenames: false
        always_run: true

      - id: build
        name: Build the project using cmake
        entry: cmake
        language: system
        args: [--build, build]
        pass_filenames: false
        always_run: true

      - id: test
        name: Test the project using ctest
        entry: ctest
        language: system
        args: [--test-dir build, --output-on-failure]
        pass_filenames: false
        always_run: true

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: ["-i"]
      - id: clang-tidy
        args: ["-p=build"]
      - id: cppcheck
        args: ["--enable=all", "-Iinclude/"]

  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [pre-push]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: " filesystem/ size 路 Prevent giant files from being committed"
        args: [ '--maxkb=2000' ]
      - id: check-executables-have-shebangs
        name: " filesystem/锔 exec 路 Verify shebang presence"
      - id: check-shebang-scripts-are-executable
        name: " filesystem/锔 exec 路 Verify script permissions"
      - id: check-case-conflict
        name: " filesystem/ names 路 Check case sensitivity"
      - id: check-illegal-windows-names
        name: " filesystem/ names 路 Validate Windows filenames"
      - id: check-symlinks
        name: " filesystem/ symlink 路 Check symlink validity"
      - id: destroyed-symlinks
        name: " filesystem/ symlink 路 Detect broken symlinks"
      - id: check-json
        name: " filesystem/ data format 路 Load all json to verify syntax"
      - id: check-toml
        name: " filesystem/ data format 路 Load all toml to verify syntax"
      - id: check-xml
        name: " filesystem/ data format 路 Load all xml to verify syntax"
      - id: check-yaml
        name: " filesystem/ data format 路 Load all yaml to verify syntax"
      - id: forbid-submodules
        name: " filesystem/ submodules 路 Detect broken symlinks"
      - id: mixed-line-ending
        name: " windows/ use UNIX 路 Use LF as line ending on Windows ズ"
        args: [ '--fix=lf' ]
        description: "Ensures all files use LF line endings in the repository"
        